@charset "utf-8";

form, h1, h2, h3, h4, div, ul, li, pre, label, p, img, span, object {
	padding:0px;
	margin:0px;
	border:0;
	
}

html { height:100%; padding-bottom:1px; }

body {

	background: url(../imgs/padrao/login_background.png) repeat-x scroll 0 0 #DCE7F5;
	padding:0px;
	margin:0px;
	height:100%;
	text-align:center;
	
}

.externalcontainer {
	
	padding:0;
	width:901px;
	margin:auto auto;
	display:table;
	height: 100%;
	text-align:center;
	vertical-align: middle;
	
}

.externalcontainer *{
	
	text-align: left;
	
}

div, p {
	
	font:normal 11px/16px Tahoma, Arial, Helvetica, sans-serif;
	text-transform:none;
	text-decoration:none;
	color:#1A1A1A;
	
}

a {
	
	text-decoration:underline;
	color:#C60000;
	
}
	
a:hover {
	
	text-decoration:none;
	color:#000;
	
}
	
a:focus { outline:none }

.specer {
	
	font-size:2px;
	line-height:2px;
	padding:0;
	margin:0;
	clear:both;
	
}
	
h1 {
	
	font:normal 19px/22px "Trebuchet MS", Georgia, "Times New Roman";
	text-transform:uppercase;
	color:#323131;
	
}
	
h1 span { color:#CE2222;font-weight:bold; }


#content_wrapper{
	
	overflow:hidden;
	display:table-cell; 
	text-align:center;
	height: 100%;
	padding-top: 5%;
   
}

.with_arm { 

	border: solid 1px #B6B6B6; 
	min-height:400px;
	height: 490px;
	background-color: #FFFFFF;
	text-align:center;
	vertical-align: middle;
	-moz-border-radius: 8px; 

}

.login {
	
	width:478px;
	margin:50px auto 70px auto;
	
}
	
.login h1 {
	
	background:url(../imgs/padrao/lock.png) no-repeat left 12px;
	font-size:25px;
	padding:15px 0 5px 70px;
	margin-bottom:26px;
	
}
	
.login h1 strong {
	
	font-size:19px;
	text-transform:none;
	font-weight:normal;
	display:block;
	color:#7D7D7D;
	width: 100%;
	padding-top: 3px;
	white-space: nowrap;
	
}
	
.login h5 {
	
	font:normal 14px/16px "Trebuchet MS", "Times New Roman", Arial;
	color:#2D70A2;
	
}
	
.login p {
	
	font-size:12px;
	margin:10px 0;
	
}
	
.login p a {
	
	font-weight:bold;
	color:#090909;
	
}
	
.login label { 
	
	display:block; 
	padding:6px 0; 
	font-size:12px;
	width: 100%;

}		
			
.login input.usepws {
	
	font:bold 16px/17px "Trebuchet MS", "Times New Roman", Arial;
	padding:8px 0 8px 10px;
	border:solid 1px #BCBCBC;
	color:#2D70A2;
	width:100%;
	overflow:visible;
	
}
	
.general_button, .login .general_button {
	
	border:solid 1px #AFAFAF;
	float:left;
	display:block;
	
}	
	
.general_button input, .login .general_button input {
	
	background:#F0F0F0 url(../images/genBtn_bg.gif) repeat-x 0 0;
	font:bold 10px/19px Verdana, Arial, Helvetica, sans-serif;
	padding:2px 8px;
	border:solid 1px #fff;
	
}
	
.login .general_button input {
	
	padding:4px 20px;
	
}			

