@CHARSET "ISO-8859-1";

fieldset { border: none; }

.input_text
{

	background-color: #ffffff;
	border: 1px solid #cccccc; 
	font-size:11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #666666; 
		
}

.input_disabled
{
	
	background-color: #dfdfdf;
	border: 1px solid #cccccc; 
	font-size:11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #ffffff; 
	
}

.focus_text
{
	
	background-color: #fdfb9d;
	border: 1px solid #cccccc; 
	font-size:11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #666666; 

}

.input_select
{
	
	background-color: #ffffff;
	border: 1px solid #cccccc; 
	font-size:11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #666666; 
	
}

.focus_select
{
	
	background-color: #ffffff;
	border: 1px solid #cccccc; 
	font-size:11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #666666; 
	
}

.tabela_form
{
	
        margin-top: 9px;
        padding-top: 5px;
	background-color:#ffffff;
	border: 1px solid #000000;
	width:98%;
	color:#000000;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	margin-left: auto;
	margin-right: auto;

}

.tabela_titulos
{
	
	background-color:#ffffff;
	border: 0px;
	width:98%;
	color:#000000;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	margin-left: auto;
	margin-right: auto;

}

.tr_form
{
	
	
	
}

.td_form_destaque
{
	
	padding-bottom:5px; 
	padding-top:1px; 
	text-align: left;
	font-weight: bold;
	background-color: #bbbbbb;
	width: 98%;
	
}

.td_form_label
{
	
	padding-bottom:5px; 
	padding-top:5px; 
	text-align: left;
	font-weight: bold;
        border-width: 1px;
        border-color: #000000;
        border-style: solid;
	
}

.td_form_campo
{
	
	padding-bottom:5px; 
	padding-top:5px; 
	padding-left:10px;
	text-align: left;
        border-width: 1px;
        border-color: #000000;
        border-style: solid;
		
}

.td_combobox
{
	
	padding-bottom:5px; 
	padding-top:5px; 
	padding-left:10px;
		
}

.td_resumo_label
{
	
	font-weight: bold;
	padding-bottom:5px; 
	padding-top:5px; 
	
}

.td_resumo_campo
{
	
	padding-bottom:5px; 
	padding-top:5px; 
	padding-left:10px;
	
}

.table_next_action
{
	
	background-color:#f1f1f1;
	color:#666666;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;		
	
}

.tr_next_action
{
	
		
	
}

.td_next_action
{
	
		
	
}

.tr_form_rodape1
{
	
		
	
}

.tr_form_rodape2
{
	
		
	
}

.table_botoes_form
{
	
	background-color:#cccccc;
	border-top:3px solid #999999;
	padding-right:20px;
	height:30px;	
	width: 100%;
		
}

.tr_botoes_form
{
	
			
	
}

.td_botoes_form
{
	
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	
}

.botoes_form
{
	
	background-color:#666666;
	font: 11px Verdana; 
	border: 1px solid #333333; 
	font-size:11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #ffffff;	
			
}

.tabela_cabecalho_usuario
{
	
	border: 0px;
	color:#666666;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	width: 100%;
	
}

.td_cabecalho_usuario
{
	
	
	
	
}

.tr_list_conteudo_impar
{
	
	background-color: #ffffff;
	
}

.tr_list_conteudo_par
{
	
	background-color: #e3e3e3;
	
}

.tr_list_conteudo_impar_destaque
{
	
	background-color: #FFF82A;
	
}


.tr_list_conteudo_par_destaque
{
	
	background-color: #FFD20F;
	
}


.fieldset_filtro
{
	
	margin-bottom: 5px;
	width: 99%;
	border: 1px solid #000000;
	padding:0px 0px 15px 7px;
	margin-left: auto;
	margin-right: auto;
	
}

.legend_filtro
{
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#cc0000;
	font-weight:bold;
	cursor:default;
	margin-bottom: 7px;
	padding-top: 3.5px;
	padding-bottom: 3.5px;
	vertical-align: middle;
	
}

.fieldset_form
{
	
	margin-bottom: 5px;
        margin-top: 15px;
	width: 97%;
	border: 0px solid #000000;
	padding:0px 0px 15px 7px;
	margin-left: auto;
	margin-right: auto;
	
}

.legend_form
{
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:13px;
	color:#cc0000;
	font-weight:bold;
	cursor: default;
	margin-bottom: 7px;
        padding-left: 13px;
        padding-bottom: 7px;
	vertical-align: middle;
	
}

.fieldset_form2
{
	
	margin-bottom: 10px;
	width: 97%;
	border: 1px solid #000000;
	padding: 15px 0px 5px 7px;
	margin-left: auto;
	margin-right: auto;
	
}

.fieldset_list
{
	
	width: 99%;
	border: 1px solid #000000;
	padding:15px 0px 15px 7px;
	margin-left: auto;
	margin-right: auto;

}

.legend_list
{
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#cc0000;
	font-weight:bold;
	cursor:default;	
	margin-bottom: 7px;
	padding-top: 3.5px;
	padding-bottom: 3.5px;
	vertical-align: middle;
	
}

.fieldset_paginacao
{
	
	margin-bottom: 5px;
	width: 99%;
	border: 1px solid #000000;
	padding:15px 0px 15px 7px;
	
}

.legend_paginacao
{
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#cc0000;
	font-weight:bold;
	cursor:default;
	margin-bottom: 7px;
	padding-top: 3.5px;
	padding-bottom: 3.5px;
	vertical-align: middle;
	
}

.tabela_list
{
	
	background-color:#f1f1f1;
	border: 1px solid #cccccc;
	width:98%;
	color:#666666;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.tabela_popup
{
	
	background-color:#f8f8f8;
	border: 1px solid #cccccc;
	width:98%;
	color:#666666;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
}

.tr_list_titulos
{
	
	background-color:#1F1F1F;
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
	height:50px;
	
}

.tr_list_titulos_vermelha
{
	
	background-color:#CC0033;
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
	height:25px;
	
}

.tr_list_titulos_amarela
{
	
	background-color:#FFE51E;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	height:25px;
	
}

.tr_list_subtitulos
{
	
	background-color:#1F1F1F;
	color:#ffffff;
	font-size:11px;
	height:18px;
	
}

.td_list_titulos
{
	
	background-color:#1F1F1F;
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
	height:25px;
	
}

.td_list_subtitulos
{
	
	background-color:#cacaca;
	color:#000000;
	font-size:11px;
	font-weight: bold;
	
}

.td_list_total
{
	
	background-color:#B5C0CA;
	color:#000000;
	font-size:11px;
	font-weight: bold;
	height: 30px;
	
}

.td_list_conteudo
{
	
	padding-left: 5px;
	text-align: left;
	
	
}

.td_relatorio_titulo
{
	
	background-color:#ffff99;
	color:#000000;
	font-size:15px;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.td_relatorio_destaque
{
	
	background-color:#e3e3e3;
	color:#000000;
	font-size:11px;
	font-weight: bold;
	text-align: center;
	border-color: #000000;
	border-width: 1px;
	
	
}

.td_espacamento
{

	background-color: #ffffff;
	height: 5px;
	padding: 0px;
		
}

.td_relatorio_cinza
{
	
	background-color:#e3e3e3;
	color:#000000;
	font-size:11px;
	font-weight: bold;
	text-align: center;
	
}

.td_relatorio_branca
{
	
	background-color:#ffffff;
	color:#000000;
	font-size:11px;
	font-weight: bold;
	text-align: center;
	
}

.td_list_titulo_base
{
	
	background-color:#B5C0CA;
	color:#000000;
	font-size:11px;
	font-weight: bold;
	text-align: center;
	
}


.table_paginacao
{

	
		
}

.tr_paginacao
{
	
	
	
}

.td_paginacao
{
		
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	background:#001429;
	width:20px;
	height:20px;
	padding:5px;
	text-decoration:none;	
	cursor: pointer;		
	
}

.td_paginacao_pag_atual
{
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#001429;
	text-align:center;
	font-weight:bold;
	background:#f1f1f1;
	width:20px;
	height:20px;
	padding:5px;
	text-decoration:none;
	cursor:default;	
	
}

.table_geral
{
	
	padding: 0px;	
	
}

#link_topo:link
{

	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#ffffff;
	text-decoration:none;
	
}

#link_topo:visited{

	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#ffffff;
	text-decoration:none;
}

#link_topo:hover
{
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#ffcc00;
	text-decoration:none;

}

.link_padrao:link
{

	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#083869;
	text-decoration:none;
}

.link_padrao:visited
{

	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#083869;
	text-decoration:none;
	
}

.link_padrao:hover
{
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#cc0033;
	text-decoration:none;

}

.link_vermelho:link
{

	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#cc0000;
	text-decoration:none;
	
}

.link_vermelho:visited
{

	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#cc0000;
	text-decoration:none;
	
}

.link_vermelho:hover
{
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#cc0000;
	text-decoration:none;

}

.div_ajax_list
{
	
	width: 100%;
	display: block;
	
}

.tr_div_ajax_list
{

	
	
}

.div_ajax_next_action
{
	
	display: none;
	
	
}

.div_ajax_botoes
{
	
	display: none;
	
	
}

.div_ajax_botoes_inicial
{
	
	display: block;
	
	
}

.input_login
{
	
	background-color: #f5f5f5; 
	border: 1px solid #999999; 
	font-size:11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #666666; 
	width:380px;
	
}

.focus_login    
{
	
	background-color: #FFF5CC;
	border: 1px solid #FFCC00;
	font-size:11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #cc0000;
	width:380px;
	
}

.div_cadeado_login
{

	background:url(../imgs/padrao/background_cadeado.png);
	repeat: no-repeat;
	width:226px;
	height:314px;

}

.texto_div_cadeado_login
{

	text-align:left;
	line-height:15px;
	padding-top:207px;
	font-size:11px;
	color:#999999;
	padding-right:20px;
	padding-left:20px;

}

.tabela_login
{
	
	background:url(../imgs/padrao/background_login.jpg);
	repeat: repeat-x;
	width:100%;
	height:314px;	
	
}

.body_login
{

	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	background-color:#F1F1F1;
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#ffffff;

}

.div_mensagem_login
{

	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#083869;
	cursor:default;

}

.div_mensagem_ok
{
	
    width:95%;
	height: auto;
    border: 1px dashed #99CC00;
    background-color: #EBF5CC;
	padding:10px 0px 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
	font-size:11px;
	text-align:center;
	font-weight:bold;
	
}

.td_mensagem_ok
{
	
    width:37px;
	height:35px;
	padding:10px;
    background-image:url(../imgs/padrao/icone_ok.jpg);
	background-position:center;
	background-repeat:no-repeat;
	
}

.div_carregamento_ajax
{

	width:100%;
	height:100%;
	background-image:url(../imgs/padrao/carregando.gif);
	background-position:center;
	background-repeat:no-repeat;
	
}

.div_mensagem_erro
{
	
    width:95%;
    border: 1px dashed #CC0000;
    background-color: #FAE5E5;
    padding:10px 0px 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
	font-size:11px; 
	font-weight:bold;
	
}

.td_mensagem_erro
{
	
    width:37px;
    height:35px;
    padding:10px;
    background-image:url(../imgs/padrao/icone_erro.jpg);
    background-position:center;
    background-repeat:no-repeat;
    
}

.div_mensagem_warning
{
	
    width:99%;
	border: 1px dashed #FFCC00;
	background-color: #FFFFF0;
	padding:10px 0px 10px 0px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
	font-size:11px; 
	font-weight:bold;
	text-align:center;
	
}

.td_mensagem_warning
{
	
    width:37px;
    height:35px;
    padding:10px;
    background-image:url(../imgs/padrao/icone_warning.jpg);
    background-position:center;
    background-repeat:no-repeat;
    
}

.div_mensagem_info
{
	
    width:95%;
	border: 1px dashed #FFCC00;
	background-color: #FFFFF0;
	padding:10px 0px 10px 0px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
	font-size:11px; 
	font-weight:bold;
	
}

.td_mensagem_info
{
	
    width:37px;
    height:35px;
    padding:10px;
    background-image:url(../imgs/padrao/icone_info.jpg);
    background-position:center;
    background-repeat:no-repeat;
    
}

.div_conteudo_mensagem
{
	
    padding:10px;
	font-size:11px;
	font-family:verdana;
    text-align:justify;
    line-height:20px;
	font-weight:bold;
	
}

.div_expansao_invisivel
{
	
    width:99%;
	height: auto;
    border: 0px solid #99CC00;
	padding:10px 10px 10px 10px;
    margin:10px 10px 10px 10px;
    display: none;

}

.div_expansao_visivel
{
	
    width:99%;
	height: auto;
    border: 0px solid #99CC00;
	padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display: block;

}

.fieldset_expansao
{
	
	width: 98.7%;
	border: 1px solid #000000;
	
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;

}

.legend_expansao
{
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#cc0000;
	font-weight:bold;
	cursor:default;	
	
}

.tabela_discreta
{
	
	background-color:#ffffff;
	border: 0px;
	width:99%;
	color:#666666;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	
}

.graficos_minha_area
{
	
	border: 0px;	
		
}

.tabela_organograma
{
	
	border: 0px;	
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	color:#000000;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
		
}

.td_espaco
{
	
	border-bottom: 2px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
		
}

.td_nivel_ligacao_vertical
{
	

	border-bottom-width: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
	height: 10px;	
	
}

.td_nivel_ligacao_horizontal
{
	

	border-right-width: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	height: 10px;	
	
}

.td_nivel_ligacao_vazio
{
	
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	height: 10px;	
	
}

.celula_verde
{
	
	border-color: #ffffff;
	border-style: solid;
	border-spacing: 5px;
	border-left-width: 5px;
	border-right-width: 5px;
	width: 370px;
	height: 60px;
	padding: 5px;
	font-size: 12px;
	background-color: #a7feab;
			
}

.celula_amarela
{
	
	border-color: #ffffff;
	border-style: solid;
	border-spacing: 5px;
	border-left-width: 5px;
	border-right-width: 5px;
	width: 230px;
	height: 60px;
	padding: 5px;
	font-size: 12px;
	background-color: #ecf11f;	
	
}

.celula_vermelha
{
	
	border-color: #ffffff;
	border-style: solid;
	border-spacing: 5px;
	border-left-width: 5px;
	border-right-width: 5px;
	width: 230px;
	height: 60px;
	padding: 5px;
	font-size: 12px;
	background-color: #ff0000;	
	
}

a.link_celula_verde {
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:9px;
	color:#cc0000;
	text-decoration:none;	
	
}

a.link_celula_amarela {
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:9px;
	color:#cc0000;
	text-decoration:none;	
	
}

a.link_celula_vermelha {
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:9px;
	color:#ffffff;
	text-decoration:none;	
	
}

.imagem_mais_info{
	
	border: 0px;
	float: right;
	padding-right: 20px;

}

.centerDivMensagem {

  position: absolute;
  top: 40%;     
  width: 400px;   
  left: 35%;
  right: 0;
  z-index: 99;

}

.erroDiv {
	
	background-color:#F1F1F1;
	border:5px solid #999999;
	padding:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999999;	

}

.alertaDiv {
	
	background-color:#F1F1F1;
	border:5px solid #999999;
	padding:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999999;	
	
}

.okDiv {
	
	background-color:#F1F1F1;
	border:5px solid #999999;
	padding:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999999;	

}
  
.textoDivMensagem {
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999999;
	font-weight:bold;

}

.centerDivGrande {

	position: absolute;
	top: 95px;     
	width: 1000px;   
	left: 10%;
	right: 0;
	z-index: 98;
	background-color:#F1F1F1;
	border:5px solid #999999;
	padding:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999999;	

}

.div_menu_popup{
	
	position: absolute;
	top: 95px;     
	left: 10%;
	width: 225px;
	height: 40px;   
	right: 0;
	z-index: 200;
	background-color:#F1F1F1;
	border:5px solid #999999;
	padding:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999999;	
	text-align: left;

}	

.td_titulo_filtro
{
	
	padding-bottom:5px; 
	padding-top:5px; 
	padding-left:2px;
	margin: 0px;
	border-color: #000000;
	border-spacing: 0px;
		
}

.options_1
{

	background-color: #FFFFFF;	
	color: #FF0000;
	
}

.options_2
{

	background-color: #00CA00;
	color: #FFFFFF;	
	
}

.tabela_conteudo_organograma
{

	width: 92%;
	border-spacing: 0px;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	border-width: 0px;
	border-collapse: collapse;	
	
}

.celula_exterior_tabela
{
	
	vertical-align: top;	
	background-color: #FFFFFF;
	text-align: center;
			
}

.tr_conteudo_organograma
{
	
	height: 50px;
	font-size: 9px;
	border-width: 0px;
	background-color: #ffffff;
	text-align: left;
		
}

.tr_conteudo_organograma_destaque
{
	
	height: 50px;
	font-size: 9px;
	background-color: #d7f9fb;
	border-width: 0px;
	text-align: left;
		
}

.td_link_organograma
{
	
	width: 80%;
		
}

.td_tabela_legenda_organograma
{
	
	text-align: center;
	width: 20%;
	
}

.td_legenda_organograma_verde
{
	
	width: 20px;
	height: 20px;
	background-color: #00ff00;	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#f70b04;
	font-weight: bold;
	text-align: center;
		
}

.td_legenda_organograma_vermelho
{
	
	width: 20px;
	height: 20px;
	background-color: #00ff00;	
	
}

.td_legenda_organograma_amarelo
{
	
	width: 20px;
	height: 20px;
	background-color: #00ff00;	
	
}

.link_pessoa_organograma
{

	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	font-weight: bold;
	color:#cc0033;
	text-decoration:none;
		
}

.link_nivel_organograma
{
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:10px;
	color:#083869;
	text-decoration:none;
		
}

.link_branco
{

	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#ffffff;
	text-decoration:none;
}

.link_cinza
{

	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	color:#666666;
	font-size:11px;
	text-decoration:none;
}

.link_generico
{
	
	text-decoration: none;		
	
}

.tabela_estrutura_org
{
	
	background-color:#f8f8f8;
	border: 0px;
	width:100%;
	color:#666666;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	
}

.tr_treinamento_invisivel
{

	background-color: #ffffff;
    display: none;

}

.tr_treinamento_visivel
{

	background-color: #ffffff;
	display: table-row;
	
}

.tabela_interna
{
	
	background-color:#ffffff;
	border: 0px;
	width:100%;
	color:#666666;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	
}

.td_botoes_zoom
{

	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	
}

.tabela_cabecalho_relatorio
{
    
    width: 97%;
    border-width: 0px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color:#000000;
    font-size:13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
        
}

.logomarca
{
    
    background-image:url(../imgs/especifico/logomarca.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    width: 40%;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000000;
    height: 95px;
    min-height: 95px;
    
}

.tabela_cabecalho_relatorio td
{
    
    padding-left: 7px;
    
}

.td_titulo_procedimentos
{
    
    padding-bottom: 5px; 
    padding-top: 5px; 
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    text-align: left;
    font-weight: bold;
    
}

.tr_titulo_procedimentos
{
    
    
    
}

.tabela_titulo_procedimentos
{
	
    margin-top: 9px;
    padding-top: 5px;
    background-color:#ffffff;
    border: 1px solid #000000;
    width:98%;
    color:#000000;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    margin-left: auto;
    margin-right: auto;

}